.detail {
  text-align: center;
  > * {
    margin-top: 10px;
  }
  &-title {
    font-size: 2.5rem;
    font-weight: 200;
    color: rgb(46, 63, 21);
    text-align: start;
    text-decoration: underline;
  }
  &-image {
  }
  &-text {
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 1.5rem;
  }
  &-instructions {
    padding: 2rem;
    text-align: start;
    background-color: #f2f2f2;
  }
  &-summary {
    padding: 2rem;
    padding: 10px;
    text-align: start;
    background-color: #d1c3c3;
    a {
      color: rgb(92, 92, 230);
    }
  }
  &-ingredients {
    > * {
      margin-top: 1rem;
    }
    h2 {
      font-size: 2.5rem;
    }
    &-grid {
      display: grid;
      grid-template-columns: auto auto auto auto auto;
      row-gap: 1rem;
    }
    &-item {
      img {
        height: 100px;
      }
      h4 {
        font-size: 1.2rem;
        span {
          color: red;
          font-size: 1.5rem;
        }
      }
      &-name {
        font-weight: 200;
        font-size: 1.5rem;
      }
    }
  }
  &-similar {
    > * {
      margin-top: 1rem;
    }
    &-grid {
      display: grid;
      grid-template-columns: 32% 32% 32%;
      row-gap: 1rem;
      column-gap: 2%;
    }
    &-item {
      h3 {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; /* number of lines to show */
        line-height: 1.3rem; /* fallback */
        height: 2.6rem;
        font-size: 1.2rem;
        text-align: center;
        color: rgb(37, 77, 63);
      }
      img {
        width: 312px;
        height: 231px;
      }
      > * {
        margin-top: 1rem;
      }
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
.row-under-image {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
